@import './styles/library.scss';

.about-container {
    height: 90%;
    width: 90%;
    margin: 8% 0 0;

    .description {
        font-family: 'Open Sans', sans-serif;
        padding: 1% 2%;
        line-height: 24px;

        a {
            color:$orange;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                @include gradient-text; 
            }
        }
    }

    h2{
        font-size: 28px;
        margin-top: 5%;
        text-align: center;
    }

}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid $purple;
    padding-bottom: .5%;
    
    .back-btn {
        background: linear-gradient(180deg, $purple 5%, $blue 75%);
        margin-top: 0;
        margin-right: 2%;
        padding: 5px 10px 5px;
        border: solid 1px $pink;
        border-radius: 20px;
        -webkit-transition: all 0.5s ease-in-out; 
                transition: all 0.5s ease-in-out;
        

        &:hover {
            cursor: pointer;
            background: linear-gradient(0deg, $purple 5%, $blue 75%);
        }
        
        .icon {
            padding:5px 10px 5px 4px;
        }

        .svg-inline--fa{
            color: $orange;
        }


        
        .text {
            padding:5px 4px 5px 15px;
            border-radius:0px 20px 20px 0px;
            -webkit-box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.3);
               -moz-box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.3);
                    box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.3);
            transition: all 0.3s ease-in-out;

            &:hover {
                @include gradient-text;
            }
        }
    }
}

.team-container {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 4%;

}

.team-member {
display: flex ;
flex-direction: column;
margin: auto;
justify-content: center;
text-align: center;

    .img-container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image:
            linear-gradient(245deg, $orange, $pink);

        img {
            border-radius: 50%;
            width: 145px;
            height: 145px;
            padding-top: 2.5px;
        }
    }
    
    

    h3 {
        font-size: 20px;
        font-weight: normal;
        margin: 12% auto 6%;
    }

    a {
        color:$orange;
        font-family: 'Open Sans', sans;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            @include gradient-text;
        }
    }


}