.about-container{
    padding: 0 10px;
    
}

.team-container {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    border: 3px solid greenyellow;

    .team-member {
        display: flex ;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        text-align: center;
        border: 3px solid red;
        .image{
            max-width: 100%;
            width: 200px;
            height: 200px;
            margin: 0 20px;
        }
    }

    
    // .team-member{
    //     display: flex ;
    //     flex-direction: column;
    //     justify-content: center;

    //     .image{
    //         border: 1px solid blue;
    //     max-width: 100px;
    //     height: auto;
    // }
    // }
    
}