@import './styles/library.scss';

.about-container {
    height: 90%;
    width: 90%;
    margin: 8% 0 0;

    .top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid $purple;

        
    }

    .description {
        padding: 1% 2%;
        line-height: 24px;

        a {
            color:$orange;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                color:$pink; 
            }
        }
    }

    h2{
        font-size: 28px;
        margin-top: 3%;
    }

}

.team-container {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 10px;

}

.team-member {
display: flex ;
flex-direction: column;
margin: auto;
justify-content: center;
text-align: center;

    .img-container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image:
            linear-gradient(245deg, $orange, $pink);

        img {
            border-radius: 50%;
            width: 145px;
            height: 145px;
            padding-top: 2.5px;
        }


    }
    
    

    h3 {
        font-size: 20px;
        font-weight: normal;
        margin: 20px auto ;
    }

    a {
        color:$orange;
        font-size: 18px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color:$pink;
        }
    }


}