//Game Colors

$lightblue: #3AECE1 !default;
$blue: #130086 !default;
$darkblue: #150042 !default;
$orange: #FF7A00 !default;
$pink: #FF00C7 !default;
$purple: #7600AD !default;
$blueblack: #110330 !default;

