//Game Colors

$lightblue: #3aece1 !default;
$blue: #130086 !default;
$darkblue: #150042 !default;
$orange: #ff7a00 !default;
$pink: #ff00c7 !default;
$purple: #7600ad !default;
$blueblack: #110330 !default;

@mixin gradient-text() {
    background-image: -webkit-linear-gradient( 180deg, $pink, $orange );
    background-image: linear-gradient( 180deg, $pink, $orange );
    color:#ff7b0077;
    -webkit-background-clip: text;
    background-clip: text;
    
}
